h1 {
     style = "body { background-color: white; color: black; font-family: "
     "'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; }\n"        "hr { border: 0; border-bottom: 1px dashed; }\n";
}